ray[default]>=2.30, <3
requests>=2.32.2, <3
importlib-metadata>=5.2.0, <9
qiskit>=1.4, <3
qiskit-ibm-runtime>=0.29.0, <1
# Make sure ray node and notebook node have the same version of cloudpickle
cloudpickle==2.2.1
tqdm>=4.66.3, <5
# opentelemetry
opentelemetry-api>=1.18.0, <2
opentelemetry-sdk>=1.18.0, <2
opentelemetry-exporter-otlp-proto-grpc>=1.18.0, <2
s3fs>=2023.6.0
opentelemetry-instrumentation-requests>=0.40b0
ipywidgets>=8.1.6, <9
ipython>=8.10.0, <9
numpy>=1.17, <3
# Minimum version of pyarrow to support the major version from numpy
pyarrow>=16.0.0, <19
aiohttp>=3.10.0, <4
zipp==3.19.1
certifi==2024.7.4
