# TODO: certifi version pinned to 2023.7.22. More info in #870
# TODO: ipython version pinned to 8.10.0. More info in #978
# TODO: matplotlib version pinned to 3.7.1. More info in #1037
-r requirements.in
ipywidgets
circuit-knitting-toolbox
matplotlib
qiskit-ibmq-provider
qiskit-aer
certifi
ipython
