ray[default,data]>=2.6, <3
requests
importlib-metadata
qiskit
qiskit-ibm-runtime
cloudpickle
tqdm
# opentelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
s3fs
opentelemetry.instrumentation.requests
ipywidgets
# TODO: will be fixed in ray:2.6, pin pydantic < 2: https://github.com/ray-project/ray/pull/37000
pydantic
