ray[default]>=2.55.1, <3
requests>=2.32.5, <3
importlib-metadata>=8.7.1, <9
qiskit[qpy-compat]>=1.4, <3
qiskit-ibm-runtime>=0.43.1, <0.48.0
# Make sure ray node and notebook node have the same version of cloudpickle
cloudpickle==3.1.2
tqdm>=4.67.3, <5
# opentelemetry
opentelemetry-api>=1.42.1, <1.43
opentelemetry-sdk>=1.41.0, <1.42
opentelemetry-exporter-otlp-proto-http>=1.41.1, <1.42
opentelemetry-instrumentation-requests>=0.62b1
ipywidgets>=8.1.8, <9
ipython>=8.39.0, <9
numpy>=2.2.6, <3
# Minimum version of pyarrow to support the major version from numpy
pyarrow>=21.0.0, <22
aiohttp>=3.14.1, <4
zipp==4.1.0
certifi==2026.4.22
