coverage>=5.5
pylint>=2.17.7
nbqa>=1.7.1
treon>=0.1.4
pytest>=6.2.5
pytest-randomly>=1.2.3
mypy>=0.991
mypy-extensions>=0.4.4
jupyter-sphinx>=0.5.3
nbsphinx>=0.9.7
sphinx-autodoc-typehints>=1.24.0
reno>=3.5.0
# Black's formatting rules can change between major versions, so we use
# the ~= specifier for it.
black[jupyter]~=22.12
requests-mock>=1.11.0
# new versions of testcontainers don't support docker compose
testcontainers>=4.7.2
tox>=4.0.0
setuptools>=80.0.0
