ray[default,data]>=2.30.0, <3
requests>=2.32.2
importlib-metadata>=5.2.0
qiskit>=1.0.2
qiskit-ibm-runtime>=0.21.1
# Make sure ray node and notebook node have the same version of cloudpickle
cloudpickle==2.2.1
tqdm>=4.66.3
# opentelemetry
opentelemetry-api>=1.18.0
opentelemetry-sdk>=1.18.0
opentelemetry-exporter-otlp-proto-grpc>=1.18.0
s3fs>=2023.6.0
opentelemetry.instrumentation.requests>=0.40b0
ipywidgets>=8.1.2
ipython>=8.10.0
numpy>=1.26.4,<2
aiohttp>=3.10.0
