-r requirements.in
coverage
pylint
nbqa
treon
pytest
pytest-randomly
mypy
mypy-extensions
jupyter-sphinx
nbsphinx
sphinx-autodoc-typehints
reno
black[jupyter]
requests-mock
testcontainers
tox
pip-tools
