.DS_Store
.git
.github
.gitignore
.jekyll-cache
.jekyll-metadata
.sass-cache
_releaser
_site
CONTRIBUTING.md
CODE_OF_CONDUCT.md
INSTALL.md
README.md
/vendor
Dockerfile
docker-compose.yaml
docker-compose-dev.yaml

### IDEs

.idea
.vscode/

### Python project ignores

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
**/.tox
.cache
.idea/workspace.xml
.project
.pydevproject
__pycache__
dist
env
logs
media
static
stats
*.sqlite3
tests
gateway/media