# Local .terraform directories
**/.terraform/*

# Local helm dependencies
charts/**/*.tgz
charts/values/**

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*


### Python project gitignore

.ipynb_checkpoints
__pycache__
.DS_Store


venv/
.venv/
.idea/
.vscode/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
**/MagicMock/
tests/**/downloaded_*.tar

# pyenv
.python-version

# dotenv
.env

# virtualenv
ENV/

# Sphinx
docs/stubs/
docs/_build/
/manager/debug.log
/manager/ray-1/
/debug.log
/manager/manager/debug.log
/manager/ray/

.local/
.jupyter/
.ipython/
.virtual_documents/
