---
os: linux
arch: amd64
dist: focal

env:
  global:
    - IBMCLOUD_API_KEY: ${IBM_CLOUD_API_KEY} # We should use this non-standard variable because the IaC code base.

stages:
  - name: checks
    if: type IN (push)
  - name: docker image
    if: type IN (pull_request)
  - name: docker release
    if: type IN (push, api) AND (branch = staging OR branch = production)


jobs:
  include:
    - stage: checks
      name: docker/lint-gateway
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/lint-gateway
    
    - stage: checks
      name: docker/lint-ray
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/lint-ray
    
    - stage: checks
      name: docker/lint-selector
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/lint-selector

    - stage: checks
      name: docker/sast-gateway
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/sast-gateway
    
    - stage: checks
      name: docker/sast-ray
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/sast-ray

    - stage: checks
      name: docker/sast-selector
      language: minimal
      install: skip
      services: docker
      script:
        - make docker/sast-selector

    - stage: docker image
      name: docker/vscan-gateway
      language: minimal
      install: skip
      services: docker
      before_script:
        - .travis/bin/install_docker_buildx.sh
      script:
        - make docker/vscan-gateway
    
    - stage: docker image
      name: docker/vscan-ray-node
      language: minimal
      install: skip
      services: docker
      before_script:
        - .travis/bin/install_docker_buildx.sh
      script:
        - make docker/vscan-ray-node

    - stage: docker release
      name: docker/release-selector
      language: minimal
      install: skip
      services: docker
      before_script:
        - .travis/bin/install_docker_buildx.sh
      script:
        - make docker/release-selector
