*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.DS_Store
.idea
.idea/workspace.xml
.project
.pydevproject
.sass-cache
.tox
__pycache__
dist
Dockerfile
env
logs
media
static
stats
*.sqlite3
tests
