cryptography>=44.0.0, <45
djangorestframework>=3.15.2, <4
django-allauth[socialaccount]>=0.61.1, <1
django-allow-cidr>=0.7.1, <1
dj-rest-auth>=5.0.2, <6
django-csp>=3.8, <4
djangorestframework-simplejwt>=5.3.1, <6
django_prometheus>=2.3.1, <3
ray[default]>=2.30.0, <3
Django>=4.2.11, <5
gunicorn>=23.0.0, <24
requests>=2.32.2, <3
psycopg2-binary>=2.9.9, <3
kubernetes>=30.1.0, <31
opentelemetry-distro>=0.47b0
opentelemetry-exporter-otlp>=1.19.0, <2
django-concurrency>=2.5, <3
drf-yasg>=1.21.7, <2
# Django dependency, but we need a newer version (IBMQ#246)
sqlparse>=0.5.0, <1
qiskit-ibm-runtime>=0.29.0, <1
tzdata>=2024.1
django-cors-headers>=4.4.0, <5
parsley>=1.3, <2
whitenoise>=6.7.0, <7
objsize>=0.7.0
ibm-platform-services>=0.59.1, <1
