cryptography>=42.0.5
djangorestframework>=3.14.0
django-allauth>=0.58.2
django-allow-cidr>=0.7.1
dj-rest-auth>=5.0.2
django-csp>=3.8
djangorestframework-simplejwt>=5.3.1
django_prometheus>=2.3.1
ray[default]>=2.9.3
Django>=4.2.11
gunicorn>=22.0.0
requests>=2.31.0
psycopg2-binary>=2.9.9
kubernetes>=26.1.0
opentelemetry-distro>=0.40b0
opentelemetry-exporter-otlp>=1.19.0
django-concurrency>=2.4
drf-yasg>=1.21.7
