cryptography>=42.0.5
djangorestframework>=3.14.0
django-allauth[socialaccount]>=0.61.1
django-allow-cidr>=0.7.1
dj-rest-auth>=5.0.2
django-csp>=3.8
djangorestframework-simplejwt>=5.3.1
django_prometheus>=2.3.1
ray[default]>=2.20.0, <3
Django>=4.2.11
gunicorn>=22.0.0
requests>=2.32.2
psycopg2-binary>=2.9.9
kubernetes>=26.1.0
opentelemetry-distro>=0.40b0
opentelemetry-exporter-otlp>=1.19.0
django-concurrency>=2.5
drf-yasg>=1.21.7
cryptography>=41.0.7
# Django dependency, but we need a newer version (IBMQ#246)
sqlparse>=0.5.0
qiskit_ibm_runtime>=0.22.0

