apiVersion: v2
name: qiskit-serverless
description: Qiskit-Serverless helm chart that contains different dependencies.

type: application

version: 0.28.0
appVersion: "0.28.0"

dependencies:
  - name: gateway
    condition: gatewayEnable
    version: 0.28.0
  - name: nginx-ingress-controller
    condition: nginxIngressControllerEnable
    version: 9.11.0
    repository: https://charts.bitnami.com/bitnami
  - name: postgresql
    condition: postgresqlEnable
    version: 16.7.27
    repository: https://charts.bitnami.com/bitnami
  - name: kuberay-operator
    condition: kuberayOperatorEnable
    version: 1.3.2
    repository: https://ray-project.github.io/kuberay-helm

maintainers:
  - name: ElePT
  - name: korgan00
  - name: paaragon
  - name: Tansito
  - name: avilches
