[MASTER]
# Minimal pylint config for integration tests

# Files or directories to be skipped
ignore=CVS

# Use multiple processes to speed up Pylint
jobs=1

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead

[REPORTS]
reports=no
score=yes

[FORMAT]
max-line-length=120