
pytest>=9.1.1
pytest-order>=1.5.0
pytest-randomly>=4.1.0
pytest-timeout>=2.4.0
boto3>=1.43.72
psycopg2-binary>=2.9.12
# new versions of testcontainers don't support docker compose
testcontainers>=4.15.0
tox>=4.60.0
black[jupyter]~=26.5
requests-mock>=1.12.1
pylint>=4.0.7
mypy>=2.3.1
mypy-extensions>=1.1.0
# dependency from ray and tox requires newer versions from cachetools
cachetools~=7.1.7
pre-commit>=4.6.2