
pytest>=6.2.5
pytest-order>=1.3.0
pytest-randomly>=1.2.3
# new versions of testcontainers don't support docker compose
testcontainers>=4.7.2
tox>=4.0.0
black[jupyter]~=22.12
requests-mock>=1.11.0
pylint>=2.17.7
mypy>=0.991
mypy-extensions>=0.4.4
# dependency from ray and tox requires newer versions from cachetools
cachetools~=6.2.4