
pytest>=9.0.3
pytest-order>=1.4.0
pytest-randomly>=4.1.0
# new versions of testcontainers don't support docker compose
testcontainers>=4.14.2
tox>=4.53.0
black[jupyter]~=26.3
requests-mock>=1.11.0
pylint>=4.0.5
mypy>=1.20.2
mypy-extensions>=1.1.0
# dependency from ray and tox requires newer versions from cachetools
cachetools~=7.1.1
pre-commit>=4.6.0