{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original %}
        <li>
            <a href="{% url 'admin:program_history_view' original.pk %}" class="historylink">
                {% translate "Program History" %}
            </a>
        </li>
        <li>
            <a href="{% url 'admin:program_validate_arguments_view' original.pk %}">
                {% translate "Validate Arguments" %}
            </a>
        </li>
    {% endif %}
{% endblock %}
