{{ if eq .Values.platform "kind" }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gateway-claim
spec:
  storageClassName: standard 
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{ else }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gateway-volume
  labels:
    type: local
  annotations:
    pv.beta.kubernetes.io/gid: "1001"
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data/tmp"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gateway-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
{{ end }}