{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo;
      {% for app in app_list %}
        {{ app.name }}
      {% endfor %}
    </div>
  </nav>
{% endblock %}

{% block content %}
<div id="content-main" class="app-list">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
