"""Default entrypoint."""

import logging
import os
import sys

from qiskit_serverless import get_arguments, save_result

sys.path.append("{{mount_path}}")

from {{package_name}} import Runner

job_id = os.environ.get("ENV_JOB_ID_GATEWAY", "NOJOB")
if not os.path.exists(os.path.join("/data", job_id)):
   os.mkdir(os.path.join("/data", job_id))
if not os.path.exists(os.path.join("/function_data", job_id)):
   os.mkdir(os.path.join("/function_data", job_id))

user_logger = logging.getLogger("user")
function_logger = logging.getLogger("function")

user_logger.setLevel(logging.INFO)
function_logger.setLevel(logging.INFO)

file_handler = logging.FileHandler(f"/data/{job_id}/user.log")
formatter = logging.Formatter("%(asctime)s - %(levelname)s - %(message)s")
file_handler.setFormatter(formatter)
user_logger.addHandler(file_handler)

file_handler = logging.FileHandler(f"/function_data/{job_id}/function.log")
formatter = logging.Formatter("%(asctime)s - %(levelname)s - %(message)s")
file_handler.setFormatter(formatter)
function_logger.addHandler(file_handler)

arguments = get_arguments()

runner = Runner()
result = runner.run(arguments)

save_result(result)
