apiVersion: v2
name: quantum-serverless
description: Quantum-Serverless helm chart that contains different dependencies.

type: application

version: 0.9.0
appVersion: "0.9.0"

dependencies:
  - name: gateway
    condition: gatewayEnable
    version: 0.9.0
  - name: nginx-ingress-controller
    condition: nginxIngressControllerEnable
    version: 9.9.4
    repository: https://charts.bitnami.com/bitnami
  - name: postgresql
    condition: postgresqlEnable
    version: 13.2.24
    repository: https://charts.bitnami.com/bitnami
  - name: kuberay-operator
    condition: kuberayOperatorEnable
    version: 1.0.0
    repository: https://ray-project.github.io/kuberay-helm

maintainers:
  - name: akihikokuroda
  - name: IceKhan13
  - name: psschwei
  - name: Tansito
