apiVersion: v2
name: quantum-serverless
description: Quantum-Serverless helm chart that contains different dependencies.

type: application

version: 0.8.0
appVersion: "0.8.0"

dependencies:
  - name: gateway
    condition: gatewayEnable
    version: 0.8.0
  - name: jupyter
    condition: jupyterEnable
    version: 0.8.0
  - name: nginx-ingress-controller
    condition: nginxIngressControllerEnable
    version: 9.7.9
    repository: https://charts.bitnami.com/bitnami
  - name: kuberay-operator
    condition: kuberayOperatorEnable
    version: 0.6.1
    repository: https://ray-project.github.io/kuberay-helm
  - name: keycloak
    condition: keycloakEnable
    version: 13.4.1
    repository: https://charts.bitnami.com/bitnami
  - name: repository
    condition: repositoryEnable
    version: 0.8.0

maintainers:
  - name: akihikokuroda
  - name: IceKhan13
  - name: psschwei
  - name: Tansito
