name: Build the containers

on:
  pull_request:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build-containers:
    name: build-containers
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # keep running if one leg fails
      matrix:
        dockerfile:
          - Dockerfile-ray-node
          - gateway/Dockerfile
          - "Dockerfile-ray-node with dynamic dependencies"
        python:
          - "3.11"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
      - name: Build ${{ matrix.dockerfile }}
        if: ${{ matrix.dockerfile != 'Dockerfile-ray-node with dynamic dependencies' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.dockerfile }}
          load: true
          tags: image:test
      - name: Build ${{ matrix.dockerfile }}
        if: ${{ matrix.dockerfile == 'Dockerfile-ray-node with dynamic dependencies' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile-ray-node
          load: true
          tags: image:test
          build-args: |
            DYNAMIC_DEPENDENCIES_FILE=requirements-dynamic-dependencies.txt
      - name: Inspect
        run: |
          docker image inspect image:test
