name: Client lint

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  lint-client:
    name: Lint client

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./client

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - name: Install tox
        run: |
          pip install tox>=4.0.0
      - name: Run styles check
        run: tox -elint
