name: Release to PyPi and upload artifact

on:
  workflow_dispatch:
  release:
    types: [published]


jobs:
  release-package:
    name: Build and Publish Release Artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.11'
      - name: Install Deps
        run: pip install -U twine wheel
      - name: Build Artifacts
        run: |
          cd client
          python setup.py sdist
          python setup.py bdist_wheel
        shell: bash
      - uses: actions/upload-artifact@v3
        with:
          path: ./client/dist/qiskit_serverless*
      - name: Publish to PyPi
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        run: twine upload client/dist/qiskit_serverless*
