name: Verify building sphinx docs

on:
  pull_request:

permissions:
  contents: read

jobs:
  verify_docs_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Ensures full git history for Reno

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Install tox
        run: pip install tox>=4.0.0

      - name: Build docs
        run: tox -edocs

      - name: Upload docs artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: html_docs
          path: ./docs/_build/html/