name: Verify building sphinx docs

on:
  permissions: contents: read
  pull_request:

jobs:
  verify_docs_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          sudo apt-get update
          sudo apt-get install -y pandoc
      - name: Build docs
        run: |
          tox -edocs
      - name: Upload docs artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: html_docs
          path: ./docs/_build/html/
