name: Gateway verify process

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  verify-gateway:
    name: Verify gateway [lint, test, coverage]

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # keep running if one leg fails
      matrix:
        python-version:
          - '3.11'

    defaults:
      run:
        working-directory: ./gateway

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Set up tox environment
        run: |
          pver=${{ matrix.python-version }}
          tox_env="-epy${pver/./}"
          echo tox_env
          echo TOX_ENV=$tox_env >> $GITHUB_ENV
      - name: Install tox
        run: |
          pip install tox>=4.0.0
      - name: Run styles check
        run: tox -elint
      - name: Test using tox environment
        run: |
          tox ${{ env.TOX_ENV }}
      - name: Coverage check
        run: |
          tox -ecoverage
