name: Helm verify process

on:
  permissions: contents: read
  push:
    paths:
      - "ct.yaml"
      - "charts/**"
      - ".github/actions/helm-lint/action.yaml"
      - ".github/workflows/helm-verify.yaml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Scan helm
        uses: ./.github/actions/helm-lint
