name: Integration tests

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  verify-integration:
    name: Integration tests [lint, test]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # keep running if one leg fails
      matrix:
        python-version:
          - '3.11'

    defaults:
      run:
        working-directory: ./tests

    env:
      QISKIT_IBM_CHANNEL: "ibm_quantum_platform"
      QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
      QISKIT_IBM_INSTANCE: ${{ secrets.QISKIT_IBM_INSTANCE }}
      QISKIT_IBM_URL: "https://test.cloud.ibm.com"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install tox
        run: pip install tox>=4.0.0
      - name: Run styles check
        run: tox -e lint
      - name: Build containers
        run: tox -e compose-build
      - name: Start services
        run: tox -e compose-up
      - name: Wait for gateway
        run: tox -e compose-wait
      - name: Test using tox environment
        run: tox -e py311
      - name: Stop services
        if: always()
        run: tox -e compose-down
      - name: Print logs on failure
        if: failure()
        run: tox -e compose-logs
