name: Test QS on Kubernetes

on:
  pull_request:
    branches: [ main ]
  merge_group:

permissions:
  contents: read

jobs:
  tests:
    name: Kubernetes deploy tests
    runs-on: ubuntu-latest
    timeout-minutes: 45
    defaults:
      run:
        working-directory: ./tests
    env:
      QISKIT_IBM_CHANNEL: "ibm_quantum_platform"
      QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
      QISKIT_IBM_INSTANCE: ${{ secrets.QISKIT_IBM_INSTANCE }}
      QISKIT_IBM_URL: "https://test.cloud.ibm.com"
      KIND_CLUSTER_NAME: kind
    steps:
      - uses: actions/checkout@v6
      - name: Setup Kind and kubectl
        uses: helm/kind-action@v1
        with:
          version: v0.29.0
          install_only: true
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install tox
        run: pip install tox>=4.0.0
      - name: Create Kind cluster
        run: tox -e kind-create
      - name: Build and load images
        run: tox -e kind-build
      - name: Deploy with Helm
        run: tox -e kind-deploy
      - name: Wait for pods
        run: tox -e kind-wait
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          cd ../client
          pip install . --no-cache-dir
      - name: Debug cluster info
        run: |
          echo "NODES"
          kubectl get nodes -o wide
          echo "PODS"
          kubectl get pods -o wide
          echo "SERVICES"
          kubectl get svc -o wide
          echo "INGRESS"
          kubectl get ingress -o wide
          echo "INGRESS NGINX PODS"
          kubectl get pods -n ingress-nginx -o wide
          echo "GATEWAY SERVICE DETAILS"
          kubectl describe svc gateway
          echo "TEST"
          curl -v http://localhost:8000/readiness
      - name: Run tests
        env:
          GATEWAY_HOST: http://localhost:8000
        run: |
          tox -e py311
      - uses: chainguard-dev/actions/kind-diag@main
        # Only upload logs on failure.
        if: ${{ failure() }}
        with:
          cluster-resources: nodes,namespaces,crds
          namespace-resources: configmaps,pods,svc,pvc,ingress
          artifact-name: logs-${{ github.run_id }}
