name: Test QS on Kubernetes

on:
  pull_request:
    branches: [ main ]
  merge_group:

permissions:
  contents: read

jobs:
  tests:
    name: Kubernetes deploy tests
    runs-on: ubuntu-latest
    timeout-minutes: 45

    defaults:
      run:
        working-directory: ./tests

    env:
      KIND_CLUSTER_NAME: kind
    steps:
      - uses: actions/checkout@v6
      - name: Create Kind cluster
        uses: chainguard-dev/actions/setup-kind@main
        with:
          k8s-version: 1.33.x
          kind-version: 0.29.0
          kind-worker-count: 0
      - name: Label nodes
        run: kubectl label node kind-control-plane has-gpu=gpu has-cpu=cpu
        working-directory: .
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install tox
        run: pip install tox>=4.0.0
      - name: Build and load images
        run: tox -e kind-build
      - name: Add Helm repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add kuberay https://ray-project.github.io/kuberay-helm
        working-directory: .
      - name: Deploy with Helm
        run: tox -e kind-deploy
      - name: Wait for gateway
        run: |
          GATEWAY=$(kubectl get pod -l app.kubernetes.io/name=gateway -o name)
          kubectl wait --for=condition=Ready "$GATEWAY" --timeout 5m
        working-directory: .
      - name: Run tests
        run: |
          export GATEWAY_HOST="http://$(kubectl get svc gateway -o jsonpath="{.status.loadBalancer.ingress[0].ip}"):8000"
          echo "GATEWAY_HOST=$GATEWAY_HOST"
          tox -e py311 -- -k "not staging"
      - uses: chainguard-dev/actions/kind-diag@main
        if: ${{ failure() }}
        with:
          cluster-resources: nodes,namespaces,crds
          namespace-resources: configmaps,pods,svc,pvc,ingress
          artifact-name: logs-${{ github.run_id }}
