name: Build and deploy sphinx docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build_and_deploy_docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Ensures full git history for Reno
      - name: Set up Python
        uses: actions/setup-python@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc
      - name: Install tox
        run: |
          pip install tox>=4.0.0
      - name: Build docs
        run: |
          tox -edocs
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html/
