name: Docker verify process

on:
  pull_request:
    types: [labeled]

jobs:
  vscan:
    if: ${{ github.event.label.name == 'release' }}
    strategy:
      matrix:
        image:
          [
            "quantum-serverless-gateway:latest",
            "quantum-serverless-ray-node:latest-py39",
            "quantum-serverless-ray-node:latest-py310",
          ]
        include:
          - image: "quantum-serverless-gateway:latest"
            dockerfile: "./gateway/Dockerfile"
            pyversion: "3.9"
          - image: "quantum-serverless-ray-node:latest-py39"
            dockerfile: "Dockerfile-ray-node"
            pyversion: "py39"
          - image: "quantum-serverless-ray-node:latest-py310"
            dockerfile: "Dockerfile-ray-node"
            pyversion: "py310"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Scan image ${{ matrix.image }}
        uses: ./.github/actions/docker-vscan
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: ${{ matrix.dockerfile }}
          docker_image_name: ${{ matrix.image }}
          pyversion: ${{ matrix.pyversion }}

      - name: Scan helm
        uses: ./.github/actions/helm-lint
